body {
  background-color: rgba(40, 176, 255, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box; /* Para todos os elementos */
}

.form-container {
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 5px;
  font-size: 16px;
  display: block;
}

.form input,
.form select {
  margin-bottom: 12px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.form button:disabled {
  background-color: #ccc;
}

.form div {
  font-size: 0.8em;
  background-color: white;
  padding: 46px;
  border-radius: 24px;
}

.form h2{
  text-align: center;
}

.text-button {
  margin-top: 20px;
  text-align: center;
}

.text-button a {
  color: #007bff;
  text-decoration: none;
}

.text-button a:hover {
  text-decoration: underline;
}

