
.component-com-centralizacao {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

* {
  box-sizing: border-box; /* Para todos os elementos */
}

.form-container {
  padding: 150px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 60px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form label {
  font-size: 1.0rem;
  color: #333;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form input,
.form select {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(49, 49, 49, 0.1);
}

.form input:focus {
  border-color: #007bff; /* Efeito ao focar */
  outline: none;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #0f9932;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:disabled {
  background-color: #ccc;
}

.form h2{
  text-align: center;
}

.text-button {
  margin-top: 20px;
  text-align: center;
}

.text-button a:hover {
  text-decoration: underline;
}

.form-group{
  margin-bottom: 20px;
}

.lista {
  padding: 50px;
 }
 table {
   margin: 20px auto;
   border-collapse: collapse;
 }

 th, td {
   padding: 10px; /* Espaçamento interno nas células da tabela */
   text-align: center; /* Centraliza o conteúdo nas células */
   border: 1px solid #000; /* Borda em volta das células */
   width: 280px;
 }

 thead {
   background-color: #f2a25c; /* Cor do cabeçalho da tabela */
 }

 tbody {
   background-color: #fff; /* Cor do corpo da tabela */
 }
