<section>
  <div class="form-container">
    <div class="form">
      <h2>Cadastro de hóspedes</h2>
      <form [formGroup]="cadastroHospedeForm" (submit)="onSubmit()">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input id="nome" formControlName="nome" type="text" placeholder="Digite seu nome" />
        </div>
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input id="cpf" formControlName="cpf" type="text" placeholder="Digite seu CPF" />
        </div>
        <div class="form-group">
          <label for="dataNascimento">Data de nascimento</label>
          <input id="dataNascimento" formControlName="dataNascimento" type="date"/>
        </div>
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input id="telefone" formControlName="telefone" type="text"/>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="cadastroHospedeForm.invalid">Cadastrar</button>
        </div>
        </form>
    </div>
    <div class="text-button">
      <p><a href="/novaReserva">Já possui uma conta? Continue com a reserva aqui!</a></p>
    </div>
  </div>
</section>
