.menu {
  background-color:  rgba(245, 173, 85, 0.8);
  color: white;
  position: fixed; /* Fixa o menu no topo da página */
  top: 0;
  left: 0;
  width: 100%; /* Faz o menu ocupar 100% da largura da tela */
  padding: 10px 0;
  display: flex;
  justify-content: space-around; /* Espaçamento entre os itens */
  align-items: center;
  z-index: 1000; /* Garante que o menu ficará sobre o conteúdo da página */
}

/* Estilo para os itens do menu */
.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
